# This is the simple Travis configuration, which is intended for use
# on applications which do not require cross-platform and
# multiple-GHC-version support. For more information and other
# options, see:
#
# https://docs.haskellstack.org/en/stable/travis_ci/
#
# Copy these contents into the root directory of your Github project in a file
# named .travis.yml
branches:
  only:
    - master

# Use new container infrastructure to enable caching
sudo: false

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
    - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev
      - texlive-fonts-recommended
      - texlive-latex-extra
      - texlive-fonts-extra
      - texlive-math-extra
      - texlive-latex-recommended

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  # Download and unpack the stack executable
  - |
    travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz \
      | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  # Download the latexrun executable
  - |
    travis_retry curl -L https://raw.githubusercontent.com/aclements/latexrun/master/latexrun \
      -o ~/.local/bin/latexrun
    chmod +x ~/.local/bin/latexrun
  # Download and install lhs2TeX
  # Version 1.18 from apt-get doesn't work well enough with tt fonts
  # Version 1.20 which is installed by default by stack doesn't work with the latest GHCs
  # Hence
  - stack install lhs2tex-1.21

install:
  # Build dependencies
  - stack --no-terminal --install-ghc build --only-dependencies

script:
  # Build the package
  - stack --no-terminal build
  # Convert to LaTeX
  - stack --no-terminal exec -- lhs2TeX paper/Paper.lhs --tt -o paper/Paper.tex
  # Build the PDF
  - pushd paper/
  - mkdir -v _tex_build/
  - latexrun --verbose-cmds -O _tex_build Paper.tex
  - popd

after_script:
  - |
    # Suppress output to avoid leaking the token when the command fails
    git clone https://twesterhout:${GITHUB_TOKEN}@github.com/twesterhout/zipper-ag-review \
      --branch=gh-pages gh_pages_repo &>/dev/null
  - mkdir -vp gh_pages_repo/doc
  - cp -v paper/_tex_build/Paper.pdf gh_pages_repo/doc/
  - cp -v paper/Paper.{pdf,tex} gh_pages_repo/doc/
  - pushd gh_pages_repo
  - git add --all doc
  - git commit --allow-empty -m "Update PDF to ${TRAVIS_COMMIT}"
  - travis_retry git push origin gh-pages
  - popd
  
